@import views.html.helper.CSRF
@import models.Request
@(reqs: Seq[Request], team: Team, pk: String)(implicit header: RequestHeader)
    @main("Proposals", pk) {
        <div class="modal fade" id="propModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p id="modalBody"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button id="modalOkBtn" type="button" class="btn btn-primary">Ok</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="container d-flex justify-content-center ">
            <p class="lead">@team.name Proposals</p>
        </div>
        @if(reqs.isEmpty) {
            <div class="jumbotron jumbotron-fluid">
                <div class="container d-flex justify-content-center ">
                    <p class="lead">No proposal yet for this team!</p>
                </div>
            </div>
        } else {
            @for(req <- reqs) {
                <div class="card text-center">
                    <div class="card-body">
                        <h5 data-toggle="tooltip" data-placement="top" title="@req.amount ERGs" class="card-title">@req.title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@req.status </h6>
                        <p style="white-space: pre-line" class="card-text">@req.description</p>
                        <div class="justify-content-center">
                            @if(req.isPending) {
                                @if(req.pendingMe) {
                                    <div class="btn-group dropdown m-1">
                                        <button id="approveBtn" onclick="approveProp(@req.id, @team.memberId)" class="btn btn-outline-success btn-sm" type="button">
                                        <span id="approveLoader" hidden class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                        Approve
                                        </button>
                                        <button type="button" class="btn btn-sm btn-outline-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <div class="sr-only">Toggle Dropdown</div>
                                        </button>
                                        <div class="dropdown-menu">
                                            @if(req.numApproved == 0) {
                                                <a class="dropdown-item">No member has approved this proposal yet.</a>
                                            }
                                            @for(cmt <- req.commitments) {
                                                @if(cmt.isApproved) {
                                                    <a class="dropdown-item">@{
                                                        cmt.toString
                                                    }</a>
                                                }
                                            }
                                        </div>
                                    </div>

                                    <div class="btn-group dropdown m-1">
                                        <button onclick="rejectProp(@req.id, @team.memberId)" id="rejectBtn" class="btn btn-outline-danger btn-sm" type="button">
                                        <span id="rejectLoader" hidden class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                        Reject
                                        </button>
                                        <button type="button" class="btn btn-sm btn-outline-danger dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <div class="dropdown-menu">
                                            @if(req.numRejected == 0) {
                                                <a class="dropdown-item">No member has rejected this proposal yet.</a>
                                            }
                                            @for(cmt <- req.commitments) {
                                                @if(cmt.isRejected) {
                                                    <a class="dropdown-item">@{
                                                        cmt.toString
                                                    }</a>
                                                }
                                            }
                                        </div>
                                    </div>

                                } else {
                                    <div class="btn-group dropdown m-1">
                                        <button id="approveBtn" onclick="approveProp(@req.id, @team.memberId)" class="btn btn-outline-secondary btn-sm" type="button">
                                        <span id="approveLoader" hidden class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                        Complete the decision
                                        </button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <div class="sr-only">Toggle Dropdown</div>
                                        </button>
                                        <div class="dropdown-menu">
                                        @for(cmt <- req.sortedCmts) {
                                            <a class="dropdown-item">@{cmt.toString}</a>
                                        }
                                        </div>
                                    </div>

                                }
                            }
                            @if(req.isApproved) {

                            }
                            @if(req.isRejected) {

                            }

                        </div>
                    </div>
                </div>
                <br/>
            }

        }
    }
